{{ define "main" }}
<main class="list">
    <article class="index">
        {{ .Content }} <!-- _index.md -->
    </article>

    <!-- Ranges through content/post/*.md -->
    {{ range (.Data.Pages.ByLinkTitle).Reverse }}
    <article class="li">
      <div class="header">
        <div class="title">
          <a href="{{.Permalink}}">{{.Title}}</a>
        </div>
        <div class="terms">
          <ul class="terms">
            {{ range .Params.tags }}
            <li> <a href="{{ $.Site.BaseURL }}/tags/{{ . }}">{{ . }}</a> </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="body">
        <p><b>Love Version: </b>{{ if isset .Params "lover" }}{{- .Params.lover -}}{{ else }}unknow{{ end }}</p>
        <p><b>Source: </b><a href="{{ .Params.source }}" >{{ .Params.source }}</a></p>
      </div>
    </article>
    {{ end }}
</main>

{{ end }}
