{{ define "main" }}
<main class="single">
  <div class="clear" ><a href="{{ $.Site.BaseURL }}">/</a></span> <span><a href="{{ .Section | absURL }}">{{ .Section }}</a></div>

  <h1>{{ .Title }}</h1>
    {{ if isset .Params "img" -}}
    <div class="center" >
    <img src="{{ printf "%s/%s" $.Site.BaseURL .Params.img }}" />
    </div>
    {{- end }}

    {{ .Content }}

    {{ if isset .Params "source" -}}
    <p><b>Source:</b> <a href="{{ .Params.source }}" >{{ .Params.source }}</a></p>
    {{- end }}

    <div class="header">
      <div class="title"><b>Tags: </b></div>
      <div class="terms">
      <ul class="terms">
        {{ range .Params.tags }}
        <li> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      </div>
    </div>

    <div class="clear" class="center">
        <p><b>Love Version: </b>{{ if isset .Params "lover" }}{{- .Params.lover -}}{{ else }}unknow{{ end }}</p>
        <p><b>Licence:<b>{{ range .Params.licence }} {{ . }}{{ end }}</p>

        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}">◀━ {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}} ━▶</a>
        {{ end }}
    </div>

</main>
{{ end }}
